@import url('side-menu.css');
@import url('main.css');
@import url('forms.css');


::-webkit-scrollbar{
    width: 0.44rem;
}

::-webkit-scrollbar-thumb{
    border-top-right-radius: 25rem;
    border-top-left-radius: 25rem;
    border-bottom-left-radius: 25rem;
    border-bottom-right-radius: 25rem;
    background-image: linear-gradient(90deg , rgba(19, 16, 16, 0.15), rgb(15, 12, 12));
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(25, 20,20, 1);
}

::-webkit-scrollbar-track{
    background-image: linear-gradient(90deg , rgba(47, 46, 46, 0.15), rgb(91, 87, 87));
}

.main-bg{
    background-color: rgb(44, 47, 51);
}

.footer{
    background-color:rgb(44, 47, 51);
    background-image: linear-gradient(180deg , rgba(19, 16, 16, 0.15), rgba(15, 12, 12, 0.656));
}
